h1{
    color: orange;
    background-color: slategrey;
    font-size: 20px;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
p{
    color:slateblue;
    text-align: left;
    line-height: 30px;
    letter-spacing: 3px;
    column-count: 2;
    column-gap: 60px;
}
ul{
    /* border-width: 4px;
    border-style: dashed;
    border-color: crimson; */
    border: 4px solid crimson;
}
li{
    list-style-type: square;
    /* text-shadow: 2px 2px lightgoldenrodyellow; */
    text-shadow: 2px 2px #807f8a;
}
 